<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Films</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Return" defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let game of games">
    <ion-card-header>
      <ion-card-title>{{game.title}}</ion-card-title>
    </ion-card-header>  
    <ion-card-content>{{game.short_description}}</ion-card-content>
    <ion-card-content>{{game.developer}}</ion-card-content>
    <ion-card-content>{{game.platform}}</ion-card-content>
    <ion-card-content>
      <ion-img [src]="game.thumbnail"></ion-img>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll threshold="200px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
