<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Platforms</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Return" defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/usertab1">
        <ion-icon name="log-in-outline"></ion-icon>
        <ion-label>Films</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/usertab2">
        <ion-icon name="log-in-outline"></ion-icon>
        <ion-label>Platforms</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>